body{
    background-color: lightgrey;
}

.nome{
    color: lightcoral;
    text-align: center;
}

.intro{
    font-size: larger;
    text-align: justify;
}

.item{
    margin-bottom: 20px;
    margin-top: 10px;
}

.imagem{
    border-radius: 10px;
}

.tabela{
    border: 2px solid black;
    text-align: center;
    width: 100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.site{
    color: blue;
    text-decoration: none;
}

.site:hover{
    color: red;
    text-decoration: underline;
}